:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #253c37;
  background-color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


